<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Form</title>
  </head>
  <body>
    <form method="POST">
      <input type="text" name="name" placeholder="Enter your name" />
      <button type="submit">Submit</button>
    </form>
    <br>
    <br>

    <!-- WTForms Example -->
    <form method="POST">
      {{ form.hidden_tag() }}

      <div>
        {{ form.name.label }} {{ form.name() }} {% for error in
        form.name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>

      <div>{{ form.password.label }} {{ form.password() }}</div>
      <div>{{ form.confirm_password.label }} {{ form.confirm_password() }}</div>
      <div>{{ form.email.label }} {{ form.email() }}</div>
      <div>{{ form.message.label }} {{ form.message() }}</div>
      {{ form.submit() }}
    </form>
  </body>
</html>
