{% extends 'base.html' %}

{% block title %}Employer Dashboard{% endblock %} {% block content %}
<div>
  <h1>Job Listings</h1>
  <a href="{% url 'jobs_app:post_job' %}">Post a Job</a>
</div>
{% endblock %} {% if jobs %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Status</th>
      <th>Location</th>
      <th>Applications</th>
      <th>Actions</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.title }}</td>
      <td>{% if job.is_active %}Active{% else %}Inactive{% endif %}</td>
      <td>{{ job.created_at|date:"M d, Y" }}</td>
      <td>
        <a href="{% url 'jobs_app:job_applications' job.id %}">
          {{job.application_count}} application {{job.application|pluralize}}
        </a>
      </td>
      <td>
        <a href="{% url 'jobs_app:edit_job' job.id %}">Edit</a>
        <a href="{% url 'jobs_app:delete_job' job.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
  You haven't posted a job yet.
  <a href="{% url 'jobs_app:post_job' %}">Post a Job</a>
</p>
{% endif %}
{% endblock %}
