{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} DevBoard {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>DevBoard</h1>
    {% block content %} {% endblock %}

    <nav>
      <a href="{% url 'job_list' %}">DevBoard</a>

      <div>
        {% if request.user.is_authenticated %} {% if request.user.is_employer %}
        <a href="{% url 'employer_dashboard' %}">Dashboard</a>
        <a href="{% url 'post_job' %}">Post a Job</a>
        {% elif request.user.is_candidate %}
        <a href="{% url 'job_list' %}">Browse Jobs</a>
        <a href="{% url 'candidate_dashboard' %}">My Applications</a>
        {% endif %}
        <span>{{ request.user.username }}</span>
        <form method="post" action="{% url 'logout' %}" style="display: inline">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register_employer' %}">Post a Job</a>
        <a href="{% url 'register_candidate' %}">Find a Job</a>
        {% endif %}
      </div>
    </nav>

    <main>
      {% if messages %} {% for message in messages %}
      <div>{{ message }}</div>
      {% endfor %} {% endif %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
